<div class="admin-list">
        <table class="table striped">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>专业ID</th>
                    <th>专业名称</th>
                    <th>辅导老师</th>
                    <th>创建时间</th>
                </tr>
            </thead>
            <tbody>
                {{range $i,$e := .}}
                <tr>
                    <td>{{add $i 1}}</td>

                </tr>
                {{end}}
            </tbody>
        </table>
        <div class="pull-right">{{unescaped (pagnationx .Ctx .Total true)}}</div>
    </div>