<!DOCTYPE html>
<html lang="en">

<head>
    {{template "components/head.html" .}}
</head>

<body>
    {{template "components/navbar.html" .}}
    <div class="wrapper-content">
        {{template "components/aside_admin.html" .}}
        <div class="content">
            <div class="form-detail">
                <div class="tile">
                    <h3><span class="icon sidebar-icon"><i class="fa fa-list"></i></span> 专业列表</h3>
                </div>
                <form action="/admin/major" method="GET" class="row">
                    <div class="input-field col s3">
                        <input name="name" type="text" class="validate">
                        <label for="icon_prefix">专业名称</label>
                    </div>
                    <div class="input-field col s3">
                        <input name="no" type="tel" class="validate">
                        <label for="icon_telephone">专业ID</label>
                    </div>
                    <div class="input-field col s3">
                        <input name="teacherid" type="text" class="validate">
                        <label for="icon_prefix">教师姓名</label>
                    </div>
                    <div class="input-field col s3">
                        <button class="btn blue" type="reset">清空</button>
                        <button class="btn" type="submit">查询</button>
                        <a href="#major_add" class="btn waves-effect waves-light modal-trigger red" title="创建专业">
                            创建专业
                        </a>
                    </div>
                </form>
                {{template "entry/admin/majors_list.html" .}}
            </div>
        </div>
    </div>
    {{template "modal/major_add.html"}}
    {{template "components/script.html"}}
    <!-- <script src="/static/build/common.js"></script> -->
</body>

</html>