<!-- Modal -->
<div class="modal fade" id="course_add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">课程添加</p>
                <button class="delete" data-dismiss="modal" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
            </section>
            <footer class="modal-card-foot">
                <button class="button" data-dismiss="modal" >取消</button>
                <button class="button is-success"  >保存</button>
            </footer>
        </div>
    </div>
</div>