<!-- Modal -->
<div class="modal" id="bbb" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <form action="/admin/course/edit" method="POST" >
        <div class="modal-content">
            <h5><i class="material-icons modal-icon">edit</i>课程编辑</h5>
            <div class="row">
                <div class="input-field col s4">
                    <input name="course" type="tel" class="validate">
                    <label for="icon_telephone">课程名称</label>
                </div>
                <p>
                    <input type="checkbox" id="test5" />
                    <label for="test5">是否勾选</label>
                </p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="reset" class="btn-flat modal-close">取消</button>
            <button type="submit" class="btn modal-close">保存</button>
        </div>
    </form>
</div>