<!DOCTYPE html>
<html lang="en">

<head>
    {{template "components/head.html" .}}
</head>

<body>
    {{template "components/navbar.html" .}}
    <div class="wrapper-content">
        {{template "components/aside_admin.html" .}}
        <div class="content">
            <form action="/detail/submit" method="POST" class="card form-detail">
                <div class="tile" style="margin-bottom:20px;">
                    <h1> <span class="icon sidebar-icon"><i class="fa fa-user"></i></span> 个人信息</h1>
                </div>
                <div class="columns">
                    <div class="field column">
                        <label class="label">姓名</label>
                        <div class="control">
                            <input name="name" class="input" type="text" placeholder="你的名字">
                        </div>
                    </div>
                    <div class="field column">
                        <label class="label">电话</label>
                        <div class="control">
                            <input name="phone" class="input" type="text" placeholder="电话">
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="field column">
                        <label class="label">学号</label>
                        <div class="control">
                            <input name="id" class="input" type="text" placeholder="学号">
                        </div>
                    </div>
                    <div class="field column">
                        <label class="label">生日</label>
                        <div class="control">
                            <input name="birthday" class="input" type="text" placeholder="生日">
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="field column">
                        <label class="label">Email</label>
                        <div class="control">
                            <input name="email" class="input" type="text" placeholder="Email">
                        </div>
                    </div>
                    <div class="field column">
                        <label class="label">学籍</label>
                        <div class="control">
                            <div class="select">
                                <select name="grade">
                                    <option>一年级</option>
                                    <option>二年级</option>
                                    <option>三年级</option>
                                    <option>四年级</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label class="label">自我简介</label>
                    <div class="control">
                        <textarea name="intro" class="textarea" placeholder="Textarea"></textarea>
                    </div>
                </div>
                <div class="field is-grouped" style="display:flex;justify-content: space-between;">
                    <div class="control">
                        <button class="button" type="reset">清空</button>
                    </div>
                    <div class="control">
                        <button type="submit" class="button is-primary">保存</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {{template "components/script.html"}}
</body>

</html>