<!DOCTYPE html>
<html lang="en">

<head>
    {{template "components/head.html" .}}
</head>

<body>
    {{template "components/navbar.html" .}}
    <div class="wrapper-content">
        {{template "components/aside_admin.html" .}}
        <div class="content">
            <form action="admin/user/update" method="POST" class="form-detail">
                <input type="hidden" name="id" value={{.Info.Id}} >
                <div class="tile" style="margin-bottom:20px;">
                    <h3> <span class="icon sidebar-icon"><i class="fa fa-user"></i></span> 个人信息</h3>
                </div>
                <div class="columns">
                    <div class="field column">
                        <label for="icon_telephone">姓名</label>
                        <div class="control">
                            <input name="name" class="validate" type="text" value="{{.Info.Name}}">
                        </div>
                    </div>
                    <div class="field column">
                        <label for="icon_telephone">电话</label>
                        <div class="control">
                            <input name="phone" class="validate" type="text" value="{{.Info.Phone.String}}">
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="field column">
                        <label for="icon_telephone">生日</label>
                        <div class="control">
                            <input name="birthday" class="validate" type="text" value="{{datetime .Info.Birthday.Int64}}">
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="field column">
                        <label for="icon_telephone">性别</label>
                        <div class="control">
                            <input name="sex" class="validate" type="text" value="{{.Info.Sex}}">
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="field column">
                        <label for="icon_telephone">密码</label>
                        <div class="control">
                            <input name="password" class="validate" type="text" placeholder="不修改密码则不必填写">
                        </div>
                    </div>
                </div>
                <div class="field is-grouped" style="display:flex;justify-content: space-between;">
                        <div class="input-field col s3">
                            <button class="btn blue" type="reset">清空</button>
                            <button class="btn" type="submit">保存</button>
                        </div>
                </div>
            </form>
        </div>
    </div>
    {{template "components/script.html"}}
</body>

</html>