<!DOCTYPE html>
<html lang="en">

<head>
    {{template "components/head.html" .}}
</head>

<body>
    {{template "components/navbar.html" .}}
    <div class="wrapper-content">
        {{template "components/aside.html" .}}
        <div class="content">
            <div class="form-detail">
                <div class="tile">
                    <h3><span class="icon sidebar-icon"><i class="fa fa-list"></i></span> 课程列表</h3>
                </div>
                <form action="/admin/course" method="GET" class="row">
                    <div class="input-field col s4">
                        <input name="teacherid" type="text" class="validate">
                        <label for="icon_prefix">教师姓名</label>
                    </div>
                    <div class="input-field col s4">
                        <input name="name" type="tel" class="validate">
                        <label for="icon_telephone">课程名称</label>
                    </div>
                    <div class="input-field col s4">
                        <button class="btn blue" type="reset">清空</button>
                        <button class="btn" type="submit">查询</button>
                        <a href="#course_add" class="btn waves-effect waves-light modal-trigger red" title="创建课程">
                            创建课程
                        </a>
                    </div>
                </form>
                {{template "entry/admin/courses_list.html" .}}
            </div>
        </div>
    </div>
    {{template "modal/course_add.html"}}
    {{template "modal/course_edit.html" .}}
    {{template "components/script.html"}}
</body>

</html>