<div class="admin-list">
        <table class="table striped">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>专业ID</th>
                    <th>专业名称</th>
                    <th>辅导老师</th>
                    <th>创建时间</th>
                </tr>
            </thead>
            <tbody>
                {{range $i,$e := .List}}
                <tr>
                    <td>{{add $i 1}}</td>
                    <td>{{$e.No}}</td>
                    <td><a href="/admin/major/detail?id={{$e.Id}}">{{$e.Name}}</td>
                    <td>{{$e.TeacherId}}</td>
                    <td>{{datetime $e.Ct}}</td>
                    <td><a href="/admin/major/del?id={{$e.Id}}"><i class="fa fa-cut"></i>&nbsp;删除</a></td>
                </tr>
                {{end}}
            </tbody>
        </table>
        <div class="pull-right">{{unescaped (pagnationx .Ctx .Total true)}}</div>
    </div>