<ul id="slide-out" class="side-nav fixed sidebar">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="/static/images/office.jpg">
            </div>
            <a href="#!user"><img class="circle" src="/static/images/yuna.jpg"></a>
            <a href="#!name"><span class="white-text name">John Doe</span></a>
        </div>
    </li>
    <li><a class="waves-effect" href="/teacher/courses?id={{.User.Id}}">课程管理</a></li>
    <li><a class="waves-effect" href="/teacher/major">专业管理</a></li>
    <!-- <li><a class="waves-effect" href="/teacher/users">用户管理</a></li> -->
</ul>