<aside class="menu sidebar">
    <p class="menu-label">
        教师管理
    </p>
    <ul class="menu-list">
        <li>
            <a href="/teacher">
                <span class="icon sidebar-icon">
                    <i class="fa fa-home"></i>
                </span>
                首页
            </a>
        </li>
        <li>
            <a href="/teacher/course">
                <span class="icon sidebar-icon">
                    <i class="fa fa-trophy"></i>
                </span>
                课程管理
            </a>
        </li>
        <li>
            <a href="/teacher/major">
                <span class="icon sidebar-icon">
                    <i class="fa fa-file-text-o"></i>
                </span>
                专业管理
            </a>
        </li>
    </ul>
    <p class="menu-label">
        学生管理
    </p>
    <ul class="menu-list">
        <li>
            <a href="/student">
                <span class="icon sidebar-icon">
                    <i class="fa fa-home"></i>
                </span>
                首页
            </a>
        </li>
        <li>
            <a href="/student/course">
                <span class="icon sidebar-icon">
                    <i class="fa fa-trophy"></i>
                </span>课程管理
            </a>
        </li>
        <li>
            <a href="/student/major">
                <span class="icon sidebar-icon">
                    <i class="fa fa-file-text-o"></i>
                </span>专业管理
            </a>
        </li>
    </ul>
</aside>